body {
  background-color: lightpink	;
}
h1{
  color: hotpink;
  text-shadow: 2px 2px blue;
}
h3{
  color:hotpink;
  text-decoration: underline;
}
  hr {
    border-style: dotted none none;
    border-color:grey;
    border-width:5px;
    width: 5%;
  }
